body {
  padding-top: 50px;
}

.jumbotron {
  margin-bottom: 10px;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f1f1f1;
}

.jumbotron .container {
  max-width: 100%;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading  {
    color: #587f52 !important;

    font-size: 2.5em;
    line-height: 1.3em;
    font-weight: 600;
}

.foto{
  height: 411px;
  width: 100%;
  display: block;
}
.foto-mini{
  height: 115px;
  width: 75px;
}

.cervezaTitle{
	font-size: 22px;
	text-align: center;
}
.cervezaSubtitle{
	font-size: 16px;
	color: #3FC2CD;
	text-align: left;
}
.total {
	font-size: 22px;
	color: #3FC2CD;
}
