{% extends 'base.html.twig' %}

{% block header %}{% endblock  %}

{% block body %}
	<div class="leyenda">
        <h1><i class="fa fa-check-circle fa-6 text-success" aria-hidden="true"></i> Pedido finalizado.</h1>
        <p class="lead">Estamos preparando tu pedido. En breve te lo llevamos :)</p>
        <p><a href="{{path('homepage')}}" class="cervezaTitle">DPSITBeers <i class="fa fa-registered" aria-hidden="true"></i></a></p>
      </div>
{% endblock  %}
